.sub-titulo{
    font-size: small
  }
  ion-title{
    text-align: center;
    font-size: large;
  }
  h1{
    font-size: xx-large;
    margin-bottom: 0;
  }
  p{
    margin-top: 0;
  }
  h4{
    margin: 30px auto 15px auto;
  }
  .sub-titulo{text-align: center;}
  ion-toolbar{
    background: white;
  }
  .center{
    text-align: center;
  }
  ion-item{
    margin: 0 auto 10px auto;
    width: 300px;
  }
  ion-button{
    width: 100px
  }
  .item-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contraseña-incorrecta{
    text-align: center;
    display: none;
    color:red;
    animation:text-shadow-drop-center .6s both;
  }
  .linea{
    text-decoration-line: underline;
  }