.text-center{
  text-align: center;
  font-weight: 500;
}
.margen-left-top{
  margin: 10px auto auto 20px
}
.space-titulo{
  width: 90px;
}
.Date{
  width: 100px;
  height: 30px;
  border: white solid 1px;
}

.botones{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.botones ion-button{
  position: relative;
  padding: 0px 25px 0px 25px;
}